.faq{
	margin-bottom: 100px;

	&__accord{
		gap: 10px;
	}
		&__item{
			padding: 40px;
			border-left: 6px solid var(--Silver, #9C9D9F);
			background: $--silver-3;
			@media screen and (min-width:1440px) {
				padding: 40px 60px;
			}
			@media screen and (max-width:767px) {
				padding: 20px;
			}
			&.active{
				border-left-color: $--orange;
			}
			&:hover{
				.faq__item__top p{
					color: $--orange;
				}
			}
			&__top{
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				transition: .3s linear;
				.active{
					color: $--white;
				}
				& p{
					@include titleH4;
					@media screen and (max-width:767px) {
						font-size: 18px;
						line-height: 140%;
					}
				}
				& svg{
					transition: .3s linear;
					min-width: 14.21px;
					min-height: 32px;
					& path{
						transition: .3s linear;
						.active &{
							fill: $--orange;
						}
					}
					.active &{
						transform: rotate(180deg);
						
					}
				}

			}
			&__bottom{
				@include p2;
				color: $--silver;
			}
		}
	}
